{% extends 'details/detail.html' %}
{% block owner %}
    <dl class="people-infor clearfix">
        <dt>
            <span class="f20">车主：孙先生</span>
            <a class="ask-car js-askcar1" href="javascript:;">
                <i class="icon-phone-white"></i>咨询看车
                <span class="layer-tip bottom-layer">
                    <i class="icon-small-sanjiao"></i>咨询电话：
                    <i class="fc-green">400-686-9943</i>
                </span>
            </a>
        </dt>
        <dd>
            <span class="type-gray">城市道路行驶</span>
            <span class="type-gray">日常家用</span>
            <span class="type-gray">4S常规保养</span>
            <span class="type-gray">换新车</span>
            <span class="type-gray">全景天窗</span>
            <span class="type-gray">电动天窗</span>
            <span class="type-gray">皮质座椅</span>
            <span class="type-gray">前排座椅加热</span>
            <span class="type-gray">多功能方向盘</span>
            <span class="type-gray">GPS导航</span>
            <span class="type-gray">倒车雷达</span>
            <span class="type-gray">倒车影像系统</span>
        </dd>
    </dl>
    <ul class="basic-eleven clearfix">
        <li class="one"><div class="typebox">2013-02</div>上牌时间</li>
        <li class="two"><div class="typebox">6.54万公里</div>表显里程</li>
        <li class="three"><div class="typebox">北京</div>上牌地</li>
        <li class="four">
        <div class="typebox">国四
            <a href="javascript:"><em class="tip-icon js-tip-icon"></em></a>
            <span class="layer-tip bottom-layer js-layer-tip2" style="width:233px;height:43px;" id="layer-tip">
            <i class="icon-small-sanjiao"></i>各地车管所对排放标准认定有差异，结果仅供参考，外迁请详细咨询迁入地车管所。
            </span>
        </div>
        <a href="javascript:" class="js-diswaiqian" data-gzlog="tracking_type=click&eventid=0220050000099006">外迁查询<i class="icon-green-right7x11"></i></a></li>
        <li class="five"><div class="typebox">自动</div>变速箱</li>
        <li class="six"><div class="typebox">3.0</div>排量</li>
        <li class="seven"><div class="typebox">0</div>过户次数</li>
        <li class="eight"><div class="typebox">海淀</div>看车地址</li>
        <li class="nine"><div class="typebox">2019-2</div>年检到期</li>
        <li class="ten"><div class="typebox">2017-11</div>交强险</li>
        <li class="last">
            <div class="typebox">2017-11
                <span class="tip-icon js-tip-icon4">
                    <span class="layer-tip bottom-layer">
                        <i class="icon-small-sanjiao"></i>保险是否随车赠送，需要在交易过程中与车主确认。
                    </span>
                </span>
            </div>商业险到期
        </li>
    </ul>
{% endblock %}