{% extends 'details/detail.html' %}
{% block basic_parameters %}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table one">
        <tr>
            <th colspan="2">基本参数</th>
        </tr>
        <tr>
            <td width='50%' class='td1'>厂商</td>
            <td width='50%' class='td2'>现代(进口)</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>级别</td>
            <td width='50%' class='td2'>中型SUV</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>发动机</td>
            <td width='50%' class='td2'>3.0L 264马力 V6</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>变速箱</td>
            <td width='50%' class='td2'>6档手自一体变速箱(AT)</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>车身结构</td>
            <td width='50%' class='td2'>5门7座SUV</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>长*宽*高(mm)</td>
            <td width='50%' class='td2'>4690/1880/1690</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>轴距(mm)</td>
            <td width='50%' class='td2'>2700</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>行李箱容积(L)</td>
            <td width='50%' class='td2'>-</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>整备质量(kg)</td>
            <td width='50%' class='td2'>-</td>
        </tr>
    </table>
{% endblock %}