{% extends 'details/detail.html' %}
{% block chassis_braking  %}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
        <tr>
            <th colspan="2">底盘及制动</th>
        </tr>
        <tr>
            <td width='50%' class='td1'>驱动方式</td>
            <td width='50%' class='td2'>适时四驱</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>助力类型</td>
            <td width='50%' class='td2'>电动助力</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>前悬挂类型</td>
            <td width='50%' class='td2'>麦弗逊式独立悬架</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>后悬挂类型</td>
            <td width='50%' class='td2'>多连杆独立悬架</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>前制动类型</td>
            <td width='50%' class='td2'>通风盘式</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>后制动类型</td><td width='50%' class='td2'>通风盘式</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>驻车制动类型</td>
            <td width='50%' class='td2'>-</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>前轮胎规格</td><td width='50%' class='td2'>235/55 R19</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>后轮胎规格</td><td width='50%' class='td2'>235/55 R19</td>
        </tr>
    </table>
{% endblock %}
