
<!doctype html>
<html>
<head _tracker='{"pagetype":"detail","carid":"15589199"}'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <title>北京二手现代全新胜达 2013款 3.0L 四驱尊享版 7座 欧IV(进口)_北京海淀二手车交易市场-瓜子二手车直卖网</title>
    <meta name="description" content="北京二手车,急卖二手车,直面个人买家 好车卖出好价,瓜子二手车均经过259项检测,标准无事故,优质个人二手车,14天可退1年质保,个人二手车买卖首选瓜子二手车直卖网!" />
    <meta http-equiv="P3P" content='CP="CAO PSA OUR"' />
    <meta name="baidu-site-verification" content="3r3nh4dkLA" />
    <meta name="360-site-verification" content="f045c917619b6b3dc82ad5f699a09474" />
    <meta name="google-site-verification" content="FQph3WEY6ZqNqVXCB5PT4_u8f-WjfF14l2OOdFiOEmg" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="sogou_site_verification" content="qY406sTreO"/>
    <meta name="shenma-site-verification" content="7b096264bff0cf1031a570c37abed00c_1476775946">
   <!--  <link rel="shortcut icon" type="image/x-icon" href="https://www.guazi.com/favicon.ico" media="screen" /> -->
</head>
{% load static %}
<script>
    var logged = false;
</script>
{#<link rel="canonical" href="{ static 'a.htm'}"/>#}
<link rel="stylesheet" href="{% static 'css/detail.css'%}">
<!-- 加载js/css-->
<script type="text/javascript" src="{% static 'js/base.js'%}" ></script>
<script type="text/javascript" src="{% static 'js/detail_v4.js'%}"></script>
<script type="text/javascript" src="{% static 'js/hm.js'%}"></script>
<body>
    <!-- 头部 -->
    <input type="hidden" id="skipKindNew" value="0">
    <!--<input type="hidden" id="firstSubLogin" value="0">-->
    <input type="hidden" id="clueData" data-puid="3002119538" data-city-id="12">
    <div id="jstop" class=header-2 >
        <div class = "header">
            <h1>
                <a href="/bj/" title="瓜子二手车">瓜子二手车</a>
            </h1>
            <div class="city">
                <!-- 鼠标悬停 .city添加class名active -->
                <p class="city-curr">
                    北京<i></i>
                </p>
                <div class="white-line"></div>
                <!--        class:all-city的作用是局部滚动不影响整体滚动-->
                <div class="city-box all-city" >
                    <dl class="bdb-n">
                        <dt class="green-tit">周边</dt>
                        <dd>
                            <a data-gzlog='tracking_type=click&eventid=0020060000000018&select_city=langfang' baidu_alog='pc_index_city&click&pc_index_around_city_c' href='/langfang/buy/' title='廊坊二手车'>廊坊</a>
                        </dd>
                    </dl>
                    <dl class="bdb-s">
                        <dt class="green-tit">热门</dt>
                        <dd>
                            <a baidu_alog="pc_index_city&click&pc_index_quanguo_c" data-gzlog="tracking_type=click&eventid=0020060000000021"                      href="/www/buy/"
                            title="全国二手车" >全国   </a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="header-phone">
                <!--电话判断，当页面处于汽车金融则显示汽车金融电话  -->
                400-686-9943
            </div>
            <div class="uc js-uc js-uc-new" data-gzlog="tracking_type=click&eventid=1015123400000003">
                <a href="javascript:" class="uc-my" id="js-login">登录</a>
                <div class="uc-app" style=display:none>
                    <a href="/bj/userstore" class="js-loginElem1" data-gzlog="tracking_type=click&eventid=1015123400000004">收藏车辆</a>
                    <a href="/bj/userreduce" class="js-loginElem2" data-gzlog="tracking_type=click&eventid=1015123400000005">降价提醒</a>
                    <a href="/bj/userhistory" class="js-loginElem3" data-gzlog="tracking_type=click&eventid=1015123400000006">浏览记录</a>
                    <a href="javascript:;" class="js-logout js-loginElem4" data-gzlog="tracking_type=click&eventid=1015123400000007">退出</a>
                    <i></i>
                </div>
            </div>
            <div class="nav-list">
                <a class="fl " href="/ask/"  data-gzlog="tracking_type=click&eventid=0010000000000012" title="瓜子问答" >瓜子问答</a>
                <a class="fl " href="https://xinche.guazi.com/www/fyc"  data-gzlog="tracking_type=click&eventid=1015083000000001" title="新车" >新车</a>
                <a class="fr " baidu_alog="pc_index_top_tab&click&pc_index_top_tab_carfina_c"
                href="http://jr.guazi.com/bj/?puid=3002119538&jr_from=homehead&platform=pc"  data-gzlog="tracking_type=click&eventid=0010000000000011">瓜子金融</a>
                <a class="fl " baidu_alog="pc_index_top_tab&click&pc_index_top_tab_intro_c"
                href="/bj/intro/" data-gzlog="tracking_type=click&eventid=0010000000000010">瓜子服务</a>
                <a class="fl " baidu_alog="pc_index_top_tab&click&pc_index_top_tab_sell_c"
                href="/bj/sell/?clueS=01" data-gzlog="tracking_type=click&eventid=0010050000000009">我要卖车</a>
                <a class="fl " baidu_alog="pc_index_top_tab&click&pc_index_top_tab_buy_c"
                href="/bj/buy/"  data-gzlog="tracking_type=click&eventid=0010000000000008">我要买车</a>
                <a class="fl " baidu_alog="pc_index_top_tab&click&pc_index_top_tab_index_c"
                href="/bj/"  data-gzlog="tracking_type=click&eventid=0010000000000007">首页</a>
            </div>
        </div>
    </div>
    <div class="center js-center">
        <div class="top-nav" style="display: none;">
            <div class="center">
                <div class="basic-infor-header active clearfix">
                    <ul class="nav-l clearfix">
                        <li data-role="item" data-id=#base>
                            <a  href="#base" data-gzlog="tracking_type=click&eventid=0090000000000077">基本信息</a>
                        </li>
                        <li data-role="item" data-id=#pic>
                            <a  href="#pic" data-gzlog="tracking_type=click&eventid=0090000000000078">车辆图片
                            </a>
                        </li>
                        <li data-role="item" data-id=#report><a  href="#report" data-gzlog="tracking_type=click&eventid=0090000000000079">检测报告</a>
                        </li>
                        <li data-role="item" data-id=#recommend>
                            <a  href="#recommend" data-gzlog="tracking_type=click&eventid=0220050000099054">猜你喜欢</a>
                        </li>
                        <li data-role="item" data-id=#qa>
                            <a  href="#qa" data-gzlog="tracking_type=click&eventid=0220050000099055">购车问答</a>
                        </li>
                    </ul>
                    <div class="nav-r">
                        <a rel="nofollow" href="javascript:" class="orgbtn js-apt" data-gzlog="tracking_type=click&eventid=0460310000000074&carid=15589199">预约看车
                        <span class="layer-tip bottom-layer js-layer-tip" style="width:233px;height:43px;display: none;">
                        <i class="icon-small-sanjiao"></i>
                        此车已有<i class="fc-green">29</i>人关注，预计很快售出，建议尽快<i class="fc-green js-apt" data-gzlog="tracking_type=click&eventid=0460310000000074&carid=15589199">预约看车</i>
                         </span>
                        </a>
                        <a rel="nofollow" href="javascript:;" class="greenbtn borderbtn js-bargain" data-gzlog="tracking_type=click&amp;eventid=0460310000000075&amp;carid=36691">我要砍价</a>
                        <a href="javascript:;" class="freephonebtn js-freePhone">免费咨询</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeon clearfix">
            <div class="left-nav">
                <a  rel="nofollow" href="//www.guazi.com/bj/" data-gzlog="tracking_type=click&eventid=0220050000099000">首页</a>&gt;
                <a  href="//www.guazi.com/bj/buy/" data-gzlog="tracking_type=click&eventid=0220050000099000">北京二手车</a>&gt;
                <a   href="//www.guazi.com/bj/hyundai/" data-gzlog="tracking_type=click&eventid=0220050000099000">北京现代二手车</a>&gt;
                <a   href="//www.guazi.com/bj/shengdajinkou/" data-gzlog="tracking_type=click&eventid=0220050000099000">北京二手现代全新胜达</a>&gt;
                现代全新胜达 2013款 3.0L 四驱尊享版 7座 欧IV(进口)
            </div>
            <div class="right-carnumber">车源号：HC-15589199
                <span  class="car-error js-feedback" data-gzlog="tracking_type=click&eventid=0220050000099003"><span class="icon-glass"></span>车源信息纠错
                </span>
            </div>
        </div>
        <div class="infor-main service-open">
         <!--    详情页左上方的图片-->
            <div class="product-detail" id="page-slide" data-group-count="4">
                <div class="bigimgbox">
                    <span class="icon-jijiang"><i class="f22">急降</i><i class="f18">4000元</i>
                    </span>
                    <a class="icon-warn js-notice" href="javascript:" data-gzlog="tracking_type=click&eventid=1012123400000003">降价提醒</a>
                    <a class="icon-collect-star js-carcollect " href="javascript:" data-gzlog="tracking_type=click&eventid=1015123400000010"></a>
                    <div class="page-number"><span data-role="currentNumber" class="f20">1</span>/30
                    </div>
                    <a href="javascript:" class="prev" data-role="imgArrow"></a>
                    <a href="javascript:" class="next" data-role="imgArrow"></a>
                    <ul class="det-picside js-picside">
                        <li class="js-bigpic" data-role="img" data-index="29">
                        <img data-src="/static/images/qn170808121047701ce854f51f150eb0c5277322615edc_003.jpg"
                        alt="现代全新胜达 2013款 3.0L 四驱尊享版 7座 欧IV(进口)"                                                                                                 src="/static/images/qn170808121047701ce854f51f150eb0c5277322615edc_003.jpg"
                        data-gzlog="tracking_type=click&eventid=0220050000099001">
                        </li>
                    </ul>
                </div>
                <div class="smallimgbox">
                    <div data-role="thumbWrapper" class="wrapper">
                        <div data-role="thumbContainer">
                            <ul class="clearfix" data-role="tabImgGroup" data-tab="1" style="position:relative;">
                                <li class="js-hover" data-role="thumb" data-hover data-click>
                                <span class="green-border"></span>
                                    <img src="/static/images/qn170808121047701ce854f51f150eb0c5277322615edc_003.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="javascript:" data-role="thumbArrowPrev" class="prev-smallimg disable">
                    </a>
                    <a href="javascript:" data-role="thumbArrowNext" class="next-smallimg">
                    </a>
                </div>
            </div> <!--    详情页左上方的图片-->
            <!--    详情页右上方车源基本信息-->
            {% block car %}{% endblock %}

        </div>
        <!--    车主检测报告-->
        <div class="guazi-renzheng">
            <div class="bgbox">
                <span class="icon-left-top"></span>
                <span class="icon-right-top"></span>
                <span class="icon-left-bottom"></span>
                <span class="icon-right-bottom"></span>
                <dl class="title-test clearfix">
                    <dt><span class="icon-renzheng"></span></dt>
                    <dd>
                        <div class="test-titbox">
                            <p class="f30">259项专业检测</p>
                            <span>瓜子要求二手车源必须达到以下标准</span>
                        </div>
                        <ul class="three-type clerafix">
                            <li><span class="icon-save"></span>无重大事故</li>
                            <li><span class="icon-fire"></span>无火烧事故</li>
                            <li><span class="icon-water"></span>无泡水事故</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="pinggushi clearfix">
                    <dt>
                        <span class="icon-img"></span>
                    </dt>
                    <dd>
                        <div class="dd-namebox">
                            <div class="test-type">高级车辆评估师
                            </div>
                            <div class="test-name">
                                <a class="ask-car js-askcar" href="javascript:"><i class="icon-phone-white"></i>咨询车况<span class="layer-tip bottom-layer">
                                <i class="icon-small-sanjiao"></i>
                                咨询电话：<i class="fc-green">400-686-9943</i></span>
                                 </a>
                            </div>
                        </div>
                        <div class="test-con">此车为个人家用一手车，车辆骨架结构完好，未见碰撞损伤。外观有喷漆修复部位，局部有剐蹭划痕，内饰正常，仪表与电器系统无损坏，发动机运转平稳，变速箱换档平顺。
                        </div>
                    </dd>
                </dl>
                <ul class="jiance-con  clearfix js-reportTop">
                    <li>
                        <strong>事故排查检测</strong>
                        <div class="c-list"><span class="c-name">事故排查</span>
                        <span class="c-number">31项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name">泡水排查</span>
                        <span class="c-number">7项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name">火烧排查</span>
                        <span class="c-number">2项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                    </li>
                    <li>
                        <strong>核心部件检测</strong>
                        <div class="c-list"><span class="c-name">机舱项</span>
                        <span class="c-number">15项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name">底盘悬架项</span>
                        <span class="c-number">4项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                    </li>
                    <li>
                        <strong>常用功能检测</strong>
                        <div class="c-list"><span class="c-name">安全系统</span>
                        <span class="c-number">24项
                        <i class="icon-right"></i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name">外部配置</span>
                            <span class="c-number">14项
                            </span>
                        </div>
                        <div class="c-list"><span class="c-name">内部配置</span>
                            <span class="c-number">14项
                                <i class="icon-right"></i>
                            </span>
                            </div>
                            <div class="c-list"><span class="c-name">灯光系统</span>
                            <span class="c-number">15项
                            </span>
                            </div>
                            <div class="c-list"><span class="c-name">高科技配</span>
                            <span class="c-number">5项
                            <i class="icon-right"></i>
                            </span>
                            </div>
                            <div class="c-list"><span class="c-name">随车工具</span>
                            <span class="c-number">5项
                                <i class="icon-right"></i>
                            </span>
                        </div>
                    </li>
                    <li>
                        <strong>启动驾驶检测</strong>
                        <div class="c-list"><span class="c-name">仪表台指示灯</span>
                            <span class="c-number">5项
                                <i class="icon-right"></i>
                            </span>
                            </div>
                            <div class="c-list"><span class="c-name">发动机状</span>
                            <span class="c-number">4项
                                <i class="icon-right"></i>
                            </span>
                            </div>
                            <div class="c-list"><span class="c-name">变速箱及</span>
                            <span class="c-number">2项
                            <i class="icon-right"></i>
                            </span>
                        </div>
                    </li>
                    <li>
                        <strong>外观内饰检测</strong>
                        <div class="c-list"><span class="c-name"></span>缺陷项检测<span class="c-number">67项
                        <i class="icon-yellow-error js-yellow-error ">
                        <span class="layer-tip-yellow-top">
                        <i class="icon-small-sanjiao"></i>
                                        缺陷项检测：
                        <span class="tip-list"><i class="disc"></i>有<i class="fc-org">2</i>处刮蹭</span>
                        <span class="tip-list"><i class="disc"></i>有<i class="fc-org">1</i>处划痕
                        </span>
                        <a href="#surface" data-role="secitem" data-id="#surface" data-type="surpic" class="look-detail">查看详情<i class="icon-gray-right7x11"></i></a>
                        </span>
                        <span class="fc-org-text">3项异常</span>
                        </i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name"></span>漆面修复检测<span class="c-number">21项
                        <i class="icon-yellow-error js-yellow-error ">
                        <span class="layer-tip-yellow-top">
                        <i class="icon-small-sanjiao"></i>
                            漆面修复检测：
                        <span class="tip-list"><i class="disc"></i>有<i class="fc-org">6</i>处喷漆</span>
                        <a href="#surface" data-role="secitem" data-id="#surface" data-type="paint" class="look-detail">查看详情<i class="icon-gray-right7x11"></i></a>
                        </span>
                        <span class="fc-org-text">6项异常</span>
                        </i>
                        </span>
                        </div>
                        <div class="c-list"><span class="c-name"></span>钣金修复检测<span class="c-number">21项
                        <i class="icon-right"></i>
                        </span></div>
                        <div class="c-list"><span class="c-name"></span>外观件更换检测<span class="c-number">21项
                        <i class="icon-right"></i>
                        </span>
                    </div>
                    </li>
                </ul>
                <p class="bottom-text">※以上为评估师验车时的车况，交易前会再次检测。</p>
            </div>
        </div>
        <!--  车主检测报告-->
        <div class="basic-infor js-basic-infor js-top">
            <!--    车主基本信息-->
            <div class="titlediv" id="base"><span>基本信息</span>
            </div>

            {% block owner %}{% endblock %}

            <div class="detailcontent clearfix js-detailcontent active">
                {% block basic_parameters %}{% endblock %}
                {% block engine_parameter %}{% endblock %}
                {% block chassis_braking  %}{% endblock %}

                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table one">
                    <tr>
                        <th colspan="2">安全配置</th>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>主副驾驶安全气囊</td><td width='50%' class='td2'>标配/标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>前后排侧气囊</td><td width='50%' class='td2'>标配/无</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>前后排头部气囊</td><td width='50%' class='td2'>标配/标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>胎压检测</td><td width='50%' class='td2'>无</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>车内中控锁</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>儿童座椅接口</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>无钥匙启动</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>防抱死系统(ABS)</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>车身稳定控制(ESP)</td><td width='50%' class='td2'>标配</td>
                    </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
                    <tr>
                        <th colspan="2">外部配置</th>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>电动天窗</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>全景天窗</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>电动吸合门</td><td width='50%' class='td2'>无</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>感应后备箱</td><td width='50%' class='td2'>无</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>感应雨刷</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>后雨刷</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>前后电动车窗</td><td width='50%' class='td2'>标配/标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>后视镜电动调节</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>后视镜加热</td><td width='50%' class='td2'>标配</td>
                    </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table" >
                    <tr>
                        <th colspan="2">内部配置</th>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>多功能方向盘</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>定速巡航</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>空调</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>自动空调</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>GPS导航</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>倒车雷达</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>倒车影像系统</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                        <td width='50%' class='td1'>真皮座椅</td><td width='50%' class='td2'>标配</td>
                    </tr>
                    <tr>
                            <td width='50%' class='td1'>前后排座椅加热</td><td width='50%' class='td2'>标配/标配</td>
                    </tr>
                </table>
                <div class="text-ins">以上基本信息为车辆初评时录入，实际情况以看车时为准
                </div>
            </div>
        </div>
        <!--车主基本信息-->

    </div>
</body>
</html>
