{% extends 'details/detail.html' %}
{% block engine_parameter %}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="param-table">
        <tr>
            <th colspan="2">发动机参数</th>
        </tr>
        <tr>
            <td width='50%' class='td1'>排量(L)</td><td width='50%' class='td2'>3.0</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>进气形式</td>
            <td width='50%' class='td2'>自然吸气</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>气缸</td>
            <td width='50%' class='td2'>V6</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>最大马力(Ps)</td>
            <td width='50%' class='td2'>264</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>最大扭矩(N*m)</td><td width='50%' class='td2'>306</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>燃料类型</td>
            <td width='50%' class='td2'>汽油</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>燃油标号</td>
            <td width='50%' class='td2'>92号</td>
        </tr>
        <tr>
            <td width='50%' class='td1'>供油方式</td>
            <td width='50%' class='td2'>直喷</td>
        </tr>
        <tr title="各地车管所对排放标准认定有差异，结果仅供参考，外迁请详细咨询迁入地车管所。">
            <td width='50%' class='td1'>排放标准</td>
            <td width='50%' class='td2'>国四</td>
        </tr>
    </table>
{% endblock %}